.header_nav, .header_nav_responsive {
    margin: 24px 0 0;
    padding: 0 24px 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 130px;
    width: 100%;
    background: #fff;
    transition: 0.6s ease-in-out;

    @include max-screen(1200) {
        margin: 0;
        height: 72px;
        background: transparent;
    }

    @include max-screen(360) {
        background: linear-gradient(180deg, rgba(51, 51, 51, 0.389314) 0%, rgba(21, 21, 21, 0.209901) 33.39%, rgba(0, 0, 0, 0.0001) 95.04%);
        mix-blend-mode: normal;
        padding: 16px;
    }

    a {
        &:hover {
          color: $yellow;
        }
    }
}

.header_nav_responsive {
    background: #fff;
    height: 112px;
}

.header_nav_burger_menu {
    background: #fff;
    height: 100%;
    position: fixed;
    min-width: 90%;
    width: 90%;

    @include max-screen(360) {
        display: block;
        z-index: 99;
    }

}


.header_nav * {
    color: #000;   

    @include max-screen(1200) {
        color: #fff;
    }
}

.header_banner {
    position: fixed;
    min-width: 100%;
    height: 24px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin: 0 auto;
    // Changing styles for signed_up option
    background: #F7F7F7;

    
    @include max-screen(1200) {
        display: none;
    }


    & p {
        @include font-param (11px, 16px);
        margin: 4px auto 5px;
        letter-spacing: 0.8px;
        font-style: normal;
        font-weight: 500;
    }

    & a {
        @include font-param (10px, 15px);
        position: absolute;
        margin: 4px 24px 5px 0;
        text-align: right;
        letter-spacing: 0.0833333px;
        font-style: normal;
        font-weight: normal;
        color: #000;

        &::before {
            position: absolute;
            top: 1px;
            left: -14px;
            content: '';
            @include sprite($-shape);
        }

        &:hover {
            opacity: 0.6;
        }
    }
}

.header_banner_burger_menu > a {
    color: #000;
}

.header_banner_burger_menu {    
    @include font-param (11px, 16px);
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    position: fixed;
    top: 88vh;
    height: 7%;
    width: 90%;
    z-index: 999;

    @include max-screen(360) {
        top: 87vh;        
    }

    & p {
        @include font-param (11px, 16px);
        margin: 4px auto 5px;
        letter-spacing: 0.8px;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        top: 60px;
        z-index: 999;
        text-align: center;
        width: 100%;
    }

    & a {
        @include font-param (10px, 15px);
        position: absolute;
        padding: 15px 0 0 28px;
        background: $footer_bg;
        height: 48px;
        width: 100%;
    
        &::before {
        position: absolute;
        top: 15px;
        left: 16px;
        content: '';
        @include sprite($-shape);
        }
    }
}

.header_nav > h2 > a,
.header_nav_responsive > h2 > a {
    margin: 16px 0;
    
    @include max-screen(1200) {
        margin: 14px 0 10px;
    }
}

.header_nav_burger_menu > h2 {
    position: absolute;
    right: 35%;
    top: 14px;
}

.header_nav > h2 > a,
.header_nav_responsive > h2 > a,
.header_nav_burger_menu > h2 > a 
 {
    color: #000;

    @include max-screen(1200) {
        color: #fff;
    }

    @include max-screen(360) {
        margin: 6px 0 0;
    }
}

.header_nav_responsive > h2 > a,
.header_nav_burger_menu > h2 > a 
{
    @include max-screen(360) {
        color: #000;
        margin: 6px 0 0;
    }
}

.search_block, .search_block_responsive {
    margin: 24px 0;
    position: relative;
    width: 584px;
    max-width: 100%;
    height: 48px;
    
    @include max-screen(1200) {
        margin: 16px 0;
        height: 40px;
    }
    
    @include max-screen(1024) {
        width: 484px;
    }
    
    @include max-screen(800) {
        width: 284px;
    }
    
    @include max-screen(640) {
        position: fixed;
        top: 118px;
        right: 10px;
    }

    @include max-screen(360) {
        display: none;
    }

}

.search_block_responsive {
    position: fixed;
    min-width: 90%;
    width: 90%;
    height: 40px;
    top: 57px;
    left: 16px;
    margin: 0;
    
    @include max-screen(360) {
        display: block;
    }

}

.search_overlay {
    background: #F7F7F7;
    mix-blend-mode: normal;
    opacity: 0.24;
    border-radius: 3px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.search_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;

    @include max-screen(360) {        
        @include font-param (11px, 16px);
        letter-spacing: 0.8px;
        font-weight: 500;   
    } 
}

.search { 
    padding: 0 0 0 16px;
    border: none;
    background: transparent;
    height: 100%;
    min-width: 90%;

    @include max-screen(800) {
        min-width: 80%;
    }      

    @include max-screen(360) {      
        width: 100%;
        padding: 0 16px;
    }
}

.search_button, .mobile_search_button {        
    background: transparent;
    @include sprite($search_black);
    margin: 0 16px 0 0;
    
    @include max-screen(1200) {
        @include sprite($search_white);
    }
}

.mobile_search_button,
.mobile_search_button_responsive {    
    margin: 0 16px 0 16px;
}

.search_button {
    @include max-screen(360) {
        display: none;
    }
}

.mobile_nav {
    display: none;

    @include max-screen(360) {
        display: flex;
        justify-content: space-between;
    }
}


.header_nav > .mobile_nav,
.header_nav_responsive > .mobile_nav, {
    margin: 6px 0 0;
}

.mobile_nav_menu_button {     
    @include sprite($menu_burger_white);
}

.mobile_nav_menu_button_responsive {    
    @include sprite($mobile_close_button);
    margin: 25px 0 28px 20px;
}


.mobile_nav_menu_button_change_icon {   
    @include sprite($menu_burger_black); 
}

.mobile_search_button_responsive { 
    @include sprite($mobile_close_button); 
    
    @include max-screen(640) {
        display: block;
    }
}

.mobile_search_button_change_icon {
    display: none;
}

.js_top-menu {
    position: relative;
}
.nav_menu_responsive {
    @include max-screen(640) {
        display: block;
        text-transform: uppercase;
        @include font-param(11px, 16px);
        letter-spacing: 1.2px;
        font-weight: 600;
    }

    & li {
        border-bottom: 1px $footer_bg solid;
    }
}

.nav_menu_title_link {
    display: block;
    z-index: 999;
    position: absolute;
    right: 0;
    top: 0;

    & a {
        text-decoration: underline;
        @include font-param(11px, 16px);
        letter-spacing: 0.0916667px;
        color: #000;
        text-transform: capitalize;
    }
}

.nav_menu_responsive > li > ul > li > ul > li {
    text-transform: capitalize;

    &:first-child {
        text-transform: uppercase;        
    }
}


nav {
    position: relative;
}

.nav_menu {
    display: flex;
    justify-content: space-between;    
    
    @include max-screen(1200) {
        display: none;
    }
}

.nav_menu > li > a {    
    @include font-param(16px, 1.5);
    text-transform: uppercase;
    letter-spacing: 0;
}

.nav_menu > li > ul {
    display: none;
    @include max-screen(360) {
        display: block;        
    }
    
}

.sign_up_block, 
.signed_up_block, 
.sign_up_block_burger_menu,
.signed_up_block_burger_menu  {
    display: flex;
    justify-content: flex-end;
    margin: 25px 0 0;

    @include max-screen(360) {
        margin: 0;        
    }
    
    
    & a {
        @include font-param (11px, 16px);
        font-weight: 600;
        letter-spacing: 1px;
        
        &:first-child {
            margin: 5px;
        }
    }
}

.signed_up_block_burger_menu,
.sign_up_block_burger_menu {
    display: flex;
    padding: 10px;
    margin: 0;
    background: $footer_bg;
    justify-content: flex-start;
}


.signed_up_block_burger_menu > a,
.sign_up_block_burger_menu > a {
    color: #000;
}


.sign_up_block_burger_menu > .shop_basket, 
.sign_up_block_burger_menu > .shop_basket_change_icon,
.signed_up_block_burger_menu > .shop_basket, 
.signed_up_block_burger_menu > .shop_basket_change_icon {
    display: none;    
}

.sign_up_block_burger_menu > .sign_in, 
.sign_up_block_burger_menu > .register, 
.sign_up_block_burger_menu > .signed_in,
.signed_up_block_burger_menu > .sign_in, 
.signed_up_block_burger_menu > .register, 
.signed_up_block_burger_menu > .signed_in {
    display: block;
}

.shop_basket, .shop_basket_change_icon {       
    width: 20px;
    height: 25px;
    margin: 0 22px 0 0;
    @include sprite($basket_black);
    
    @include max-screen(1200) {
        @include sprite($basket_white);
    }

    @include max-screen(360) {
        margin: 0 28px 0 0;
    }

    &::after {
        content: "2";
        background: $basket_item_bg;
        border-radius: 50%;
        // Changing styles for signed_up option
        // padding: 3px;
        padding: 3px 7px;
        position: absolute;
        top: 28px;
        right: 20px;
        pointer-events:none;
        
        @include max-screen(360) {
            color: #000;
            top: 20px;
        }
    }

    
    transition: 0.6s ease-in-out;
    &:hover {
        transform: rotate(360deg);
        color: #000;
    }
}

.shop_basket_change_icon {
    @include max-screen(360) {
        @include sprite($basket_black);
        width: 20px;
        height: 25px;
    }
}

.sign_in, .register, .signed_in {
    margin: 5px 0;
    
    @include max-screen(360) {
        display: none;
    }
}

.sign_up_block {
    display: none;
}        