// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-chevron-right-name: 'Chevron_right';
$-chevron-right-x: 0px;
$-chevron-right-y: 120px;
$-chevron-right-offset-x: 0px;
$-chevron-right-offset-y: -120px;
$-chevron-right-width: 8px;
$-chevron-right-height: 13px;
$-chevron-right-total-width: 136px;
$-chevron-right-total-height: 133px;
$-chevron-right-image: 'sprite.png';
$-chevron-right: (0px, 120px, 0px, -120px, 8px, 13px, 136px, 133px, 'sprite.png', 'Chevron_right', );
$-shape-name: 'Shape';
$-shape-x: 28px;
$-shape-y: 120px;
$-shape-offset-x: -28px;
$-shape-offset-y: -120px;
$-shape-width: 8px;
$-shape-height: 12px;
$-shape-total-width: 136px;
$-shape-total-height: 133px;
$-shape-image: 'sprite.png';
$-shape: (28px, 120px, -28px, -120px, 8px, 12px, 136px, 133px, 'sprite.png', 'Shape', );
$basket-black-name: 'basket_black';
$basket-black-x: 84px;
$basket-black-y: 0px;
$basket-black-offset-x: -84px;
$basket-black-offset-y: 0px;
$basket-black-width: 16px;
$basket-black-height: 24px;
$basket-black-total-width: 136px;
$basket-black-total-height: 133px;
$basket-black-image: 'sprite.png';
$basket-black: (84px, 0px, -84px, 0px, 16px, 24px, 136px, 133px, 'sprite.png', 'basket_black', );
$basket-white-name: 'basket_white';
$basket-white-x: 0px;
$basket-white-y: 0px;
$basket-white-offset-x: 0px;
$basket-white-offset-y: 0px;
$basket-white-width: 20px;
$basket-white-height: 28px;
$basket-white-total-width: 136px;
$basket-white-total-height: 133px;
$basket-white-image: 'sprite.png';
$basket-white: (0px, 0px, 0px, 0px, 20px, 28px, 136px, 133px, 'sprite.png', 'basket_white', );
$facebook-name: 'facebook';
$facebook-x: 120px;
$facebook-y: 71px;
$facebook-offset-x: -120px;
$facebook-offset-y: -71px;
$facebook-width: 8px;
$facebook-height: 16px;
$facebook-total-width: 136px;
$facebook-total-height: 133px;
$facebook-image: 'sprite.png';
$facebook: (120px, 71px, -120px, -71px, 8px, 16px, 136px, 133px, 'sprite.png', 'facebook', );
$insta-name: 'insta';
$insta-x: 74px;
$insta-y: 83px;
$insta-offset-x: -74px;
$insta-offset-y: -83px;
$insta-width: 16px;
$insta-height: 16px;
$insta-total-width: 136px;
$insta-total-height: 133px;
$insta-image: 'sprite.png';
$insta: (74px, 83px, -74px, -83px, 16px, 16px, 136px, 133px, 'sprite.png', 'insta', );
$menu-burger-black-name: 'menu_burger_black';
$menu-burger-black-x: 0px;
$menu-burger-black-y: 48px;
$menu-burger-black-offset-x: 0px;
$menu-burger-black-offset-y: -48px;
$menu-burger-black-width: 20px;
$menu-burger-black-height: 15px;
$menu-burger-black-total-width: 136px;
$menu-burger-black-total-height: 133px;
$menu-burger-black-image: 'sprite.png';
$menu-burger-black: (0px, 48px, 0px, -48px, 20px, 15px, 136px, 133px, 'sprite.png', 'menu_burger_black', );
$menu-burger-white-name: 'menu_burger_white';
$menu-burger-white-x: 40px;
$menu-burger-white-y: 0px;
$menu-burger-white-offset-x: -40px;
$menu-burger-white-offset-y: 0px;
$menu-burger-white-width: 24px;
$menu-burger-white-height: 19px;
$menu-burger-white-total-width: 136px;
$menu-burger-white-total-height: 133px;
$menu-burger-white-image: 'sprite.png';
$menu-burger-white: (40px, 0px, -40px, 0px, 24px, 19px, 136px, 133px, 'sprite.png', 'menu_burger_white', );
$mobile-close-button-name: 'mobile_close_button';
$mobile-close-button-x: 120px;
$mobile-close-button-y: 0px;
$mobile-close-button-offset-x: -120px;
$mobile-close-button-offset-y: 0px;
$mobile-close-button-width: 16px;
$mobile-close-button-height: 16px;
$mobile-close-button-total-width: 136px;
$mobile-close-button-total-height: 133px;
$mobile-close-button-image: 'sprite.png';
$mobile-close-button: (120px, 0px, -120px, 0px, 16px, 16px, 136px, 133px, 'sprite.png', 'mobile_close_button', );
$search-black-name: 'search_black';
$search-black-x: 37px;
$search-black-y: 83px;
$search-black-offset-x: -37px;
$search-black-offset-y: -83px;
$search-black-width: 17px;
$search-black-height: 17px;
$search-black-total-width: 136px;
$search-black-total-height: 133px;
$search-black-image: 'sprite.png';
$search-black: (37px, 83px, -37px, -83px, 17px, 17px, 136px, 133px, 'sprite.png', 'search_black', );
$search-white-name: 'search_white';
$search-white-x: 0px;
$search-white-y: 83px;
$search-white-offset-x: 0px;
$search-white-offset-y: -83px;
$search-white-width: 17px;
$search-white-height: 17px;
$search-white-total-width: 136px;
$search-white-total-height: 133px;
$search-white-image: 'sprite.png';
$search-white: (0px, 83px, 0px, -83px, 17px, 17px, 136px, 133px, 'sprite.png', 'search_white', );
$snapchat-name: 'snapchat';
$snapchat-x: 120px;
$snapchat-y: 36px;
$snapchat-offset-x: -120px;
$snapchat-offset-y: -36px;
$snapchat-width: 16px;
$snapchat-height: 15px;
$snapchat-total-width: 136px;
$snapchat-total-height: 133px;
$snapchat-image: 'sprite.png';
$snapchat: (120px, 36px, -120px, -36px, 16px, 15px, 136px, 133px, 'sprite.png', 'snapchat', );
$twitter-name: 'twitter';
$twitter-x: 40px;
$twitter-y: 48px;
$twitter-offset-x: -40px;
$twitter-offset-y: -48px;
$twitter-width: 17px;
$twitter-height: 14px;
$twitter-total-width: 136px;
$twitter-total-height: 133px;
$twitter-image: 'sprite.png';
$twitter: (40px, 48px, -40px, -48px, 17px, 14px, 136px, 133px, 'sprite.png', 'twitter', );
$youtube-name: 'youtube';
$youtube-x: 77px;
$youtube-y: 48px;
$youtube-offset-x: -77px;
$youtube-offset-y: -48px;
$youtube-width: 18px;
$youtube-height: 13px;
$youtube-total-width: 136px;
$youtube-total-height: 133px;
$youtube-image: 'sprite.png';
$youtube: (77px, 48px, -77px, -48px, 18px, 13px, 136px, 133px, 'sprite.png', 'youtube', );
$spritesheet-width: 136px;
$spritesheet-height: 133px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($-chevron-right, $-shape, $basket-black, $basket-white, $facebook, $insta, $menu-burger-black, $menu-burger-white, $mobile-close-button, $search-black, $search-white, $snapchat, $twitter, $youtube, );
$spritesheet: (136px, 133px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
