html *
{
  font-size: 1em;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p {
  @include font-param(12px, 18px);
  letter-spacing: 0.872727px;
}

a {
  text-decoration: none;
  display: block;
} 

nav > ul > li > a {
  @include font-param(13px, 19px);  
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  text-align: center;
  font-weight: 600;
}


h1,
h2,
h3 {
  font-family: "Poppins";
  letter-spacing: 0;
}

h1 {
  @include font-param(60px, 90px);
  font-weight: bold;
  color: #fff;

  @include max-screen(1200) {
    @include font-param(52px, 78px);
  }

  @include max-screen(800) {
    @include font-param(38px, 62px);
  }

  @include max-screen(640) {
    @include font-param(26px, 48px);
  }

  @include max-screen(360) {
    display: none;
  }
}
 
h2 {  
  @include font-param(38px, 57px);
  letter-spacing: 0.95px;
  font-weight: bold;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08); 

  @include max-screen(1200) {
    @include font-param(32px, 48px);    
    letter-spacing: 0.8px;
  }

  @include max-screen(800) {
    @include font-param(26px, 39px);    
    letter-spacing: 0.65px;
  } 
}

h3,
.nav-bar__label {
  @include font-param(16px, 19px);
  font-family: "Cormorant Garamond";
  letter-spacing: 1.16364px;
  font-weight: bold;
}

input, button {
  border: none;  
  text-decoration: none;
  outline: none;
}

button {   
  cursor: pointer;
}

